.GROUP_4_181 {
  transform: translate(0px, 17.0517520904541px) rotate(0deg) scale(1, 1);
  transform-origin: 0.5088163614273071px 0.5088163614273071px;
  position: absolute;
  top: 0;
  left: 0;
  width: 284.93756103515625px;
  min-height: 124.05782318115234px;
  background-color: transparent;
  border: none;
}
