.GROUP_4_130 {
  transform: translate(550.4751586914062px, 198.8582763671875px) rotate(0deg)
    scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  width: 148.18319702148438px;
  min-height: 48.78750228881836px;
  background-color: transparent;
  border: none;
}
