.FRAME_4130_494 {
  z-index: 1;
  width: min(139px, 100%);
  min-height: 19px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 8px;
}

.TEXT_4130_495 {
  z-index: 1;
  color: rgba(78.00000295042992, 168.0000051856041, 222.00000196695328, 1);
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0px;
  line-height: 16.94318199157715px;
}
