.FRAME_4130_491 {
  width: 1440px;
  min-height: 1024px;
  background-color: rgba(
    25.50000037997961,
    25.50000037997961,
    25.50000037997961,
    1
  );
  border: none;
  position: relative;
}
