.GROUP_4_62 {
  transform: translate(716.1875610351562px, 0px) rotate(0deg) scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6399999856948853;
  width: 553.529296875px;
  min-height: 142.38294982910156px;
  background-color: transparent;
  border: none;
}
