.GROUP_4_40 {
  transform: translate(269.51605224609375px, 137.08090209960938px) rotate(0deg)
    scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  width: 183.37997436523438px;
  min-height: 174.17733764648438px;
  background-color: transparent;
  border: none;
}
