.GROUP_4_53 {
  transform: translate(233.19374084472656px, 181.87786865234375px) rotate(0deg)
    scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6399999856948853;
  width: 178.0604248046875px;
  min-height: 82.32930755615234px;
  background-color: transparent;
  border: none;
}
