.GROUP_4_47 {
  transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  width: 122.2353286743164px;
  min-height: 62.319454193115234px;
  background-color: transparent;
  border: none;
}
