.GROUP_4_187 {
  transform: translate(16.110183715820312px, 12.973936080932617px) rotate(0deg)
    scale(1, 1);
  transform-origin: 0.5088163614273071px 0.5088163614273071px;
  position: absolute;
  top: 0;
  left: 0;
  width: 252.8108673095703px;
  min-height: 66.83058166503906px;
  background-color: transparent;
  border: none;
}
