.GROUP_4_90 {
  transform: translate(847.2639770507812px, 149.48159790039062px) rotate(0deg)
    scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6399999856948853;
  width: 189.30467224121094px;
  min-height: 141.7981414794922px;
  background-color: transparent;
  border: none;
}
