.GROUP_4_115 {
  transform: translate(476.1802062988281px, 239.2708282470703px) rotate(0deg)
    scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6399999856948853;
  width: 143.48118591308594px;
  min-height: 118.24720001220703px;
  background-color: transparent;
  border: none;
}
