.GROUP_4_124 {
  transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  width: 531.1930541992188px;
  min-height: 294.2298889160156px;
  background-color: transparent;
  border: none;
}
