.GROUP_4_70 {
  transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  width: 64.795654296875px;
  min-height: 162.03598022460938px;
  background-color: transparent;
  border: none;
}
