.GROUP_4_123 {
  transform: translate(752.8695678710938px, 82.34661865234375px) rotate(0deg)
    scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6399999856948853;
  width: 531.1930541992188px;
  min-height: 294.2298889160156px;
  background-color: transparent;
  border: none;
}
