.GROUP_4_27 {
  transform: translate(-105.00129699707031px, -103.83366394042969px)
    rotate(0deg) scale(1, 1);
  transform-origin: 0.5055973529815674px 0.5055973529815674px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.10000000149011612;
  width: 1649.16162109375px;
  min-height: 599.2879638671875px;
  background-color: transparent;
  border: none;
}
