.GROUP_4_134 {
  transform: translate(724.8189086914062px, 28.11566925048828px) rotate(0deg)
    scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  width: 549.9411010742188px;
  min-height: 353.5271301269531px;
  background-color: transparent;
  border: none;
}
