.GROUP_4_83 {
  transform: translate(1019.7542114257812px, 198.7213592529297px) rotate(0deg)
    scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6399999856948853;
  width: 58.45921325683594px;
  min-height: 141.8818359375px;
  background-color: transparent;
  border: none;
}
