.GROUP_4_108 {
  transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  width: 287.7190246582031px;
  min-height: 339.0882568359375px;
  background-color: transparent;
  border: none;
}
