.GROUP_4_140 {
  transform: translate(1063.265869140625px, 310.00115966796875px) rotate(0deg)
    scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  width: 328.6341247558594px;
  min-height: 194.2479705810547px;
  background-color: transparent;
  border: none;
}
