.GROUP_4_24 {
  transform: translate(801.8878173828125px, 1132.492919921875px)
    rotate(-9.355612806281335e-15deg) scale(1, 1);
  transform-origin: 0.5833333134651184px 0.5833333134651184px;
  position: absolute;
  top: 0;
  left: 0;
  width: 670.4444580078125px;
  min-height: 11.380829811096191px;
  background-color: transparent;
  border: none;
}
