.GROUP_4_77 {
  transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
  transform-origin: 1.1742602586746216px 1.1742602586746216px;
  position: absolute;
  top: 0;
  left: 0;
  width: 158.72190856933594px;
  min-height: 59.675228118896484px;
  background-color: transparent;
  border: none;
}
